* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

#config-players {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

#config-players div {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#config-players div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#player-turn {
    height: 20px;
}

#player-win {
    height: 20px;
}

.container-block {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.block {
    width: 33.33%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.5em;
}

#block-2, #block-5, #block-8 {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

#block-4, #block-5, #block-6 {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

#restart-button {
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

#lineWin {
    width: 100%;
    height: 5px;
    display: block;
    border-radius: 5px;
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1e;
        color: #fefefe;
    }
    .block {
        border-color: #fefefe !important;
    }
}